<div class="main">
  <div class="container">
    <!-- Sign-Up Form -->
    <div class="form-container sign-up-container">
      <form>
        <input type="text" placeholder="Name" [(ngModel)]="name" name="name" required />
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
        <input type="text" placeholder="Institution" [(ngModel)]="institution" name="institution" />
        <input type="text" placeholder="Field of Study" [(ngModel)]="fieldOfStudy" name="fieldOfStudy" />
        <button type="button" class="sign-up-btn" (click)="createAccount()">Create Account</button>
      </form>
      <button class="switch-to-signin-btn" (click)="toggleForm()">Switch to Sign In</button>
    </div>

    <!-- Sign-In Form -->
    <div class="form-container sign-in-container" *ngIf="isSignIn">
      <form>
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
        <button type="button" (click)="signIn()">Sign In</button>
      </form>
      <button class="switch-to-signup-btn" (click)="toggleForm()">Switch to Sign Up</button>
    </div>
  </div>
</div>
