<div class="main">
  <div class="container">
    <!-- account details for sign up-->
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Your Account</h1>
        <input type="text" placeholder="Name" />
        <input type="password" placeholder="Password" />
        <div class="input-container email-container">
          <input type="email" placeholder="Email" />
        </div>
        <button routerLink="/homepage" class="sign-up-btn">Sign in</button>
      </form>
    </div>
    <!--account details for sign in -->
    <div class="form-container sign-in-container">
      <form action="#">
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign up</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <!-- for signed in transform -->
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back to YesClue</h1>
          <p>To keep connected with us, please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <!-- for signed up transform -->
        <div class="overlay-panel overlay-right">
          <h1>YesClue</h1>
          <p>Enter your details and start your journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
